* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins;
  src: url('./fonts/Poppins-Regular.ttf');
  font-display: swap;
}

body {
  font-family: Poppins;
  background-color: var(--background);
}

:root {
  --max-width: 1316px;
  --general-padding: 10px;
  --main-black: #000;
  --secondary-black: #0f172a;
  --main-gray: #64748b;
  --secondary-gray: #f1f5f9;
  --light-gray: #f8fafc;
  --white: #fff;
  --background: #f9f9ff;
  --toggle-eye: -1px;
  --blue: #156dbb;
  --blue-hover: rgb(10, 137, 247);
  --green: #1681ab;
  --green-hover: rgb(20, 148, 198);
  --background-gradient: linear-gradient(90deg, rgb(236, 239, 241) 0%, rgb(187, 216, 250),rgb(236, 239, 241)  100%);
  --opacity: 1;
  --text-shadow-color: rgb(255, 255, 255);
  --first-percent: 10%;
  --second-percent: 11%;
}