* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins;
  src: url('./fonts/Poppins-Regular.ttf');
  font-display: swap;
}

body {
  font-family: Poppins;
  background-color: var(--background);
}

:root {
  --max-width: 1316px;
  --general-padding: 10px;
  --main-black: #000;
  --secondary-black: #0f172a;
  --main-gray: #64748b;
  --secondary-gray: #f1f5f9;
  --light-gray: #f8fafc;
  --white: #fff;
  --background: #f9f9ff;
  --toggle-eye: -1px;
  --blue-nav: #074063;
  --background-gradient: linear-gradient(90deg, rgba(248,250,252,1) 0%, rgba(82,145,220,0.22452731092436973) 49%, rgba(248,250,252,1) 100%);
}