.main-ctn {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--max-width);
    padding: var(--general-padding);
}
.logo {
    color: var(--secondary-black);
    font-size: 1.2rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.logo img {
    width: 25px;
    filter: drop-shadow(1px 2px 1px var(--secondary-black));
}

.logo span:nth-child(3) {
    font-size: .53rem;
    color: var(--blue);
}

.nav-link-ctn {
    display: flex;
    gap: 10px;
}
.nav-link-ctn span {
    font-size: 1rem;
}
.nav-link-ctn a {
    font-size: 1.05rem;
    text-decoration: none;
    color: var(--blue);
}
.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.form-ctn {
    width: 100%;
    max-width: 450px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.form-ctn h1 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 2rem;
}
.input-ctn {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-ctn label {
    font-size: 1.05rem;
}

.input-ctn input, button {
    padding: 7px 10px;
    font-family: Poppins;
    border: thin solid #cfcaca;
    border-radius: 5px;
    background: var(--background);
}
.input-ctn input:focus, button:focus {
    outline: none;
    border-color: var(--blue);
}

.input-eye-ctn {
    display: flex;
    border: thin solid #cfcaca;
    border-radius: 5px;
}
.input-eye-ctn:focus-within {
    border-color: var(--blue);
}
.input-eye-ctn input {
    border: none;
}
.input-eye-ctn > input:first-child {
    flex: 1;
}
.eye-btn-ctn {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 5px;
    border-radius: 5px;
}
.check-box {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 6px;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}
.button {
    margin-top: 10px;
    background: var(--blue);
    color: #fff;
    font-size: .9rem;
    transition: background .5s ease;
}
.button:hover {
    cursor: pointer;
    background: var(--blue-hover);
}
.link {
    text-align: center;
    text-decoration: none;
    color: var(--blue);
    font-size: .9rem;
}
.error-message {
    color: var(--blue);
    font-size: .8rem;
}

@media screen and (max-width: 600px) {
    .logo {
        font-size: 1rem;
    }
    .logo img {
        width: 22px;
    }
    .nav-link-ctn span {
        display: none;
    }
    .nav-link-ctn a {
        font-size: .9rem;
    }
    .main {
        padding-top: 60px;
    }
    .form-ctn {
        gap: 18px;
    }
    .form-ctn h1 {
        font-size: 1.3rem;
        margin-bottom: 0;
    }
    .input-ctn label {
        font-size: .85rem;
    }
    .link {
        font-size: .8rem;
    }
}

