.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-width: 325px;
    min-height: 315px;
    cursor: pointer;
    background-color: var(--white);
    box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
    border-radius: 6px;
    padding: 20px;
}

.image-ctn {
    width: 100%;
}

.image-ctn img {
    width: 100%;
    aspect-ratio: 1.8/1;
    border-radius: 6px;
    object-fit: cover;
}

.card h3 {
    padding: 10px 0px;
    color: var(--main-black);
    font-weight: 700;
    font-size: 1rem;
}

.full-data-card {
    display: flex;
    flex-direction: column;
}

.info-card {
    display: flex;
    justify-content: space-between;
}

.info-card span {
    font-size: 12px;
    color: var(--main-gray);
}

.full-data-card p {
    margin-top: 5px;
    font-size: 12px;
}