.footer {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-top: 50px;
    color: var(--secondary-black);
}

.footer ul {
    flex-direction: column;
    list-style: none;
    text-align: center;
}

.footer ul a {
    color: #074b80;
    text-decoration: none;
    text-align: center;
}

