.tech-send {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0;
}

.tech-send input {
    border: 1px solid rgb(196, 191, 191);
    border-radius: 4px;
    padding: 5px;
}