@font-face {
    font-family: eina;
    src: url('../../fonts/eina-03-bold.ttf');
    font-display: swap;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(248,250,252);
    background: linear-gradient(90deg, rgba(248,250,252,1) 0%, rgba(82,145,220,0.22452731092436973) 49%, rgba(248,250,252,1) 100%);
    min-height: 65vh;
    overflow: hidden;
}


.header-ctn {
    width: 100%;
    max-width: var(--max-width);
    padding: 25px var(--general-padding);
    display: flex;
    justify-content: center;
}

.header-ctn h1 {
    font-family: eina;
    font-size: 4.3rem;
    color: var(--main-black);
    text-align: center;
    line-height: 110%;
}

.header-ctn__titles {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.header-ctn__titles p {
    font-size: 1.1rem;
    line-height: 150%;
    text-align: center;
}

.header-ctn__image {
    width: 50%;
    display: flex;
    justify-content: center;
}

.input-ctn {
    background-color: var(--light-gray);
    display: flex;
    width: 90%;
    max-width: 450px;
    padding: 12px;
    margin: 50px;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 10px -4px rgba(58, 114, 182, 0.6);
}

.input-ctn input {
    border: none;
    width: 100%;
    background-color: var(--light-gray);
    font-size: 1rem;
}

.input-ctn input:focus {
    outline: none;
}