.line {
    position: absolute;
    content: '';
    width: 19px;
    height: 1px;
    background-color: #3f3e3e;
    z-index: 9;
    transform: rotate(140deg);
    opacity: var(--opacity);
    transition: opacity .3s ease-in-out;
}

.eye {
    width: 20px;
    height: 10px;
    border-radius: 85%;
    border: 1px solid;
    border-bottom: 2px solid #3f3e3e;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.eye::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 12px;
    border-bottom: 1px solid #3f3e3e;
    background-color: rgb(255, 255, 255);
    top: 0x;
    left: 0;
    bottom: var(--toggle-eye);
    transition: bottom .3s ease-in-out;
}

.eye-iris {
    width: 8px;
    height: 8px;
    border: 1px solid #3f3e3e;
    background-color: var(--blue-hover);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eye-pupil {
    width: 3px;
    height: 3px;
    background-color: #3f3e3e;
    border-radius: 50%;
}


