.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0;
}

.form label {
    font-size: .9rem;
}

.form input {
    border: 1px solid rgb(196, 191, 191);
    border-radius: 4px;
    padding: 5px;
}